@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=roboto:wght@400;600;800&display=swap");

:root {
	--text: #ffe5b2;
	--text-dimmed: #6b655c;
	--accent: #f76262;
	--blue: #216583;
	--dark: #3c3e47;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--dark);
	color: var(--text);
	margin: 0;
	width: inherit;
	height: inherit;
}

#root {
	width: inherit;
	height: inherit;
}

.navButton {
	font-family: "arial", sans-serif;
	font-weight: 900;
	font-size: clamp(5vw, 5rem, 8vh);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	overflow: hidden;
	outline: none;
	color: var(--text);
	line-height: clamp(5vw, 5rem, 10vh);
	transition: all 450ms ease-in-out;
	transition-property: transform, box-shadow;
}

h1,
h2,
h3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "arial", sans-serif;
	font-weight: 900;
	padding: 0;
	margin: 0;
	cursor: default;
}

h1 {
	font-size: clamp(11vh, 15vw, 20rem);
}

h2 {
	font-size: clamp(8vh, 10vw, 16rem);
	color: var(--blue);
	text-align: center;
	vertical-align: center;
}

h3 {
	text-transform: lowercase;
	font-size: clamp(6vh, 6vw, 14rem);
	color: var(--text);
	margin-top: -20px;
}

input {
	width: 80px;
	background-color: transparent;
	border: none;
	color: var(--text-dimmed);
	border-bottom: 15px solid var(--accent);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: "roboto", sans-serif;
	font-weight: 900;
	font-size: clamp(5vw, 5rem, 5vh);
	text-align: center;
}

input:focus {
	outline: #f76262;
}

.closeTool {
	cursor: pointer;
	padding: 30px;
	color: var(--text-dimmed);
	transition: all 450ms ease-in-out;
}

.closeTool:hover,
.closeTool:focus {
	color: var(--blue);
	transform: scale(1.4) rotate(360deg);
	border: none;
	outline: none;
	/* transform: rotate(360); */
}

.toolControlWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.toolControl {
	cursor: pointer;
}

.toolNavWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#backIcon {
	padding: 40px 0px;
}

#startIcon,
#pauseIcon {
	transition: all 350ms linear;
}

#startIcon:focus,
#startIcon:hover,
#pauseIcon:focus,
#pauseIcon:hover {
	transform: scale(1.4);
	outline: none;
	color: var(--accent);
}

.dimmedActive {
	color: var(--text-dimmed);
}

.activeTextColorBlue {
	color: var(--blue);
}

.activeTextColor {
	color: var(--text);
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.countdownInputsWrapper input {
	width: clamp(5vw, 350px, 30vw);
}

.inputsMainWrapper {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 40px;
	justify-items: end;
}

.inputsMainWrapper input {
	margin: 0px 10px;
}

.inputsMainWrapper label {
	font-family: "roboto", sans-serif;
	font-weight: 900;
	font-size: clamp(5vw, 5rem, 5vh);
}

.navButton:hover {
	transform: scale(1.5);
	box-shadow: inset 0px -30px 0px 0px var(--blue);
}

.countdownInputsWrapper {
	width: inherit;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.toolNavigator {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.toolBody {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.toolBody > * {
	margin: 40px 0px;
}

.signInWrapper {
	width: 50%;
}

.signInWrapper form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.activitiesWrapper {
	margin-top: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1fr);
}

.activityCard {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.signInWrapper input, .newActivityWrapper input {
	width: 200px;
	height: 40px;
	font-size: 16px;
	border-bottom: none;
	border-radius: 10px;
	background-color: #525565;
	color: var(--text);
	margin: 3px;
}

.newActivityWrapper button {
	height: 40px;
	width: 50px;
	border-radius: 10px;
}

.activityCard input {
	all: unset;
	text-align: center;
}

.dimmedParagraph {
	color: var(--text-dimmed);
	cursor: pointer;
}

.dimmedParagraph:hover {
	text-decoration: underline;
	font-weight: bold;
	color: var(--blue);
}